/**********GENERAL**********/

body {
  font-family: 'Muli', sans-serif;
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #E86850;
}

a:hover {
  text-decoration: none;
  color: #587058;
}

#get_started a {
  text-decoration: none;
  color: white;
}

#questions {
  display: none;
}

#quiz_intro {
  display: none;
}

#name_age {
  display: none;
}

/**********HEADER**********/

header {
  text-align: center;
}

header h3 {
  text-align: left;
  line-height: 1.2em;
  width: 90%;
  margin: 0 auto;
}

header button {
  text-align: center;
}

.jumbotron {
  text-align: left;
  font-size: 4em;
  padding: 75px;
  border-radius: 5px;
  background-image: url(../img/comp_background.jpg);
  color: white;
}

.btn-primary {
  background-color: #E86850;
  border-radius: 2px;
  border: 1px solid black;
  padding: 20px;
}

.btn-primary:hover {
  background-color: #587058;
}

.btn-primary:focus {
  outline: none;
}

#get_started {
  text-align: center;
  margin: 0 auto;
}

/**********FOOTER**********/

footer {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #587058;
  text-align: center;
}
